<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <label for="InfoType">Enter Information Type (Ex: H): </label>
      <p><input type="text" id="InfoType" name="InfoType"></p>
      <label for="Start Month"> Enter Start Month (Ex: 01): </label>
      <p><input type="text" id="Start Month" name="StartMonth"></p>
      <label for="Start Day"> Enter Start Day (Ex: 01): </label>
      <p><input type="text" id="Start Day" name="StartDay"></p>
      <label for="Start Year"> Enter Start Year (Ex: 2020): </label>
      <p><input type="text" id="Start Year" name="StartYear"></p>
      <label for="End Month"> Enter End Month (Ex: 01): </label>
      <p><input type="text" id="End Month" name="EndMonth"></p>
      <label for="End Day"> Enter End Day (Ex: 01): </label>
      <p><input type="text" id="End Day" name="EndDay"></p>
      <label for="End Year"> Enter End Year (Ex: 2020): </label>
      <p><input type="text" id="End Year" name="EndYear"</p>
      <br>
      <label for="MY"> Enter Product Code (Ex: Aug21): </label>
      <p><input type="text" id="MY" name="MonthYear"</p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
