<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <label for="Start Month"> Enter Start Month (Ex: 01): </label>
      <p><input type="text" id="StartMonth" name="StartMonth"></p>
      <label for="Start Day"> Enter Start Day (Ex: 01): </label>
      <p><input type="text" id="StartDay" name="StartDay"></p>
      <label for="Start Year"> Enter Start Year (Ex: 2020): </label>
      <p><input type="text" id="StartYear" name="StartYear"></p>
      <label for="End Month"> Enter End Month (Ex: 01): </label>
      <p><input type="text" id="EndMonth" name="EndMonth"></p>
      <label for="End Day"> Enter End Day (Ex: 01): </label>
      <p><input type="text" id="EndDay" name="EndDay"></p>
      <label for="End Year"> Enter End Year (Ex: 2020): </label>
      <p><input type="text" id="EndYear" name="EndYear"</p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
